@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}

.all-wrap {
  height: 100%;
  overflow: hidden;
  padding-bottom: 0px;
}
