<mat-toolbar id="toolbar">
  <mat-toolbar-row id="gradient"></mat-toolbar-row>
  <mat-toolbar-row style="height: 174px;">
    <button mat-button class="chevron-nav-btn" [routerLink]="" (click)="onToggleSideNav()">
      <img alt="toggle chevron" [className]="showFESIMS === true
      ? 'side-nav-chevron face-left'
      : 'side-nav-chevron rotate-chevron'
      " src="../../assets/img/icon_new_arrow.svg"/>
    </button>
    <span>
      <p style="margin-top: 13px; font-size: 2.5rem;">Fire Department Management</p>
      <h6 style="position: absolute; top: 165px;">Welcome,  LEIF LARSON</h6>
    </span>
    <span style="flex: 1 1 auto"></span>
    <span style="align-self: flex-end">

          <span style="margin-right: 10px; font-size: 1rem; font-weight: 300;">Current FDID: {{currentFdid}}</span>

          <button mat-stroked-button [routerLink]="['/dashboard']" >
              <i class="fas fa-home"></i>
              Home
          </button>
          <button mat-stroked-button>
              <i class="far fa-life-ring"></i>
            Help
          </button>
          <button mat-stroked-button>
              <i class="fas fa-sign-out-alt"></i>
            Logout
          </button>



    </span>
  </mat-toolbar-row>

</mat-toolbar>
